@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0; 
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h2{
    color: rgb(17, 207, 254);
    background-color: black;
    font-weight: 500;
}
.container{
    width: 500px;
   
}
.form-group{
    width: 100%;
    display: flex;
    margin: 20px 5px;
    gap: 5px;
}